<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/portfolio/src/styles.sass">
  <header>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <img src="/portfolio/src/assets/imgs/APLogo-20-20.png" alt="argentinaprograma">
      <h2>
          <a href="https://www.instagram.com/geist.joaquin/" class="fa fa-instagram"></a>
          <a href="https://www.facebook.com/joaquin.geist.7/about" class="fa fa-facebook"></a>
      </h2>
  </header>
  <h1> 
      <img src="https://cdn.wallpapersafari.com/78/59/8WrpH6.jpg" alt="Banner">
  </h1>
    <section>
          Joaquin Gabriel Geist 
          <i>Full Stack Developer Jr. </i>
      <article>
          <img src="/portfolio/src/assets/imgs/Me.jpeg" alt="Me">
          <h1>Acerca de:</h1>
          <p>Hombre, nacido el 8 de marzo de 2004, sumamente ágil para los cálcdlos, 
          el análisis y la resolución de problemas, capaz de adaptarse a cualquier situación 
          y aprender a una velocidad mayor que el promedio, disponible todos los dias excepto 
          los jueves de las 13 a las 16 hs</p>
      </article>
    </section>
</head>

<section>   
    <h1>Experiencia:</h1>
    <article> 
        <dl>
            <dt> <img src="/portfolio/src/assets/imgs/personitas.png" alt="personitas" height="15%"> </dt>
            <dd> 
                <h4>Comedor comunitario Personitas</h4>
                <dl>
                    <dt>Duración:</dt>
                        <dd> <i>2 años(2021-2023)</i> </dd>
                    <dt>Puesto:</dt>
                        <dd> <i>Voluntario, Asistente, y profesor de Excel de nivel basico a intermedio </i> </dd>
                    <dt>Trabajo realizado:</dt>
                        <dd> <i>Además de ayudar al profesor de computación, enseñaba a chicos de secundaria en 
                            situaciones difíciles a familiarizarse con el Excel, a utilizarlo para manejar datos,
                            y a verlo y tratarlo como un lenguaje de programación en sí </i> </dd>
                </dl> 
            </dd>
        </dl>
    </article>
</section>

<section>
    <h1>Educación</h1>
    <article class="listitem">
        <dl>
            <dt> <img src="/portfolio/src/assets/imgs/Coleg.png" alt="Colegio Arcoiris" height="70px"> </dt>
            <dd> 
                <h4> Colegio Arcoiris </h4>
                <dl>
                    <dt>Período:</dt>
                        <dd> <i>6 añost(2010-2015)</i> </dd>
                    <dt>Titulo:</dt>
                        <dd> <i>Básico de Primaria</i> </dd>
                </dl>
            </dd>
        </dl>
    </article>
    <article class="listitem">
        <dl>
            <dt> <img src="/portfolio/src/assets/imgs/ColegSec.png" alt="Instituto Independencia" height=70px> </dt>
             <dd> 
                <h4> Instituto Independencia del Pilar</h4>
                <dl>
                    <dt>Período:</dt>
                        <dd> <i>6 años(2016-2021)</i> </dd>
                    <dt>Título:</dt>
                        <dd> <i>Bachiller en Economía y Administración</i> </dd>
                </dl>
             </dd>
        </dl>
    </article>
</section>

<section class="h&s">
    <h1> Hard & Soft Skills</h1>
    <article>
        <div>
            <h2><label for="cpp">C++</label></h2>
            <div class="progress-bar-cpp">
                <progress id="cpp" min="0" max="100" value="99"></progress>
            </div>
        </div>
        <div>
            <h2><label for="html">HTML</label></h2>
            <div class="progress-bar-html">
                <progress id="html" min="0" max="100" value="51"></progress>
            </div>
        </div>
    </article>
</section>

<router-outlet></router-outlet>